---
title: "08wk-1: [Python] -- 네오와 프로도, 딕셔너리를 이용한 치환 // 숙제"
author: "최규빈"
date: "04/22/2025"
draft: false
---

{{<video https://youtu.be/playlist?list=PLQqh36zP38-yFRHsInL2QwR65X9mha4eQ&si=oob_5p7HBE80_2rN>}}

## 1. 네오와 프로도

> 카카오 채용연계형 인턴쉽 기출문제

ref: <https://school.programmers.co.kr/learn/courses/30/lessons/81301?language=python3>

네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다. 다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

```
1478 --> "one4seveneight"
234567 --> "23four5six7"
10203 --> "1zerotwozero3"
```

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어집니다. s가 의미하는 원래 숫자를 return 하도록 `solution` 함수를 완성해주세요.

참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

|숫자| 영단어|
|:-:|:-:|
|0|	zero|
|1|	one|
|2|	two|
|3|	three|
|4|	four|
|5|	five|
|6|	six|
|7|	seven|
|8|	eight|
|9|	nine|

`-` 제한사항

- 1 ≤ s의 길이 ≤ 50
- s가 "zero" 또는 "0"으로 시작하는 경우는 주어지지 않습니다.
- return 값이 1 이상 2,000,000,000 이하의 정수가 되는 올바른 입력만 s로 주어집니다.


`-` 입출력 예

|s|result|
|:-:|:-:
|"one4seveneight"|	1478|
|"23four5six7"|	234567|
|"2three45sixseven"| 234567|
|"123"|	123|

`-` 입출력 예 설명

- 입출력 예 #1 -- 문제 예시와 같습니다.
- 입출력 예 #2 -- 문제 예시와 같습니다.
- 입출력 예 #3 -- "three"는 3, "six"는 6, "seven"은 7에 대응되기 때문에 정답은 입출력 예 #2와 같은 234567이 됩니다. 입출력 예 #2와 #3과 같이 같은 정답을 가리키는 문자열이 여러 가지가 나올 수 있습니다.
- 입출력 예 #4 -- s에는 영단어로 바뀐 부분이 없습니다.

`(풀이)`

In [53]:
def solution(s):
    dct = {
        "one":"1",
        "two":"2",
        "three":"3",
        "four":"4",
        "five":"5",
        "six":"6",
        "seven":"7",
        "eight":"8",
        "nine":"9",
        "zero":"0",
    }    
    for k,v in dct.items():
        s = s.replace(k,v)
    return int(s)

In [54]:
solution("one4seveneight")

1478

In [55]:
solution("123")

123

## 2. 딕셔너리를 이용한 치환 ($\star$)

`# 예제` -- 아래와 같은 리스트를 고려하자.

In [56]:
lst = ['딸기','사과','바나나','딸기','사과','오토바이','자동차','버스','기차','오토바이','자동차']

다음의 맵핑규칙에 따라서 위의 리스트의 원소를 바꾸어라.

|변환전|변환후|
|:-:|:-:|
|딸기|과일|
|사과|과일|
|바나나|과일|
|오토바이|탈것|
|자동차|탈것|
|버스|탈것|
|기차|탈것|

`(풀이1)` -- `elif`를 사용

In [57]:
lst2 = []
for l in lst:
    if l=='딸기':
        lst2.append('과일')
    elif l=='사과':
        lst2.append('과일')
    elif l=='바나나':
        lst2.append('과일')
    elif l=='오토바이':
        lst2.append('탈것')
    elif l=='자동차':
        lst2.append('탈것')
    elif l=='버스':
        lst2.append('탈것')
    else:
        lst2.append('탈것')

In [58]:
lst,lst2

(['딸기', '사과', '바나나', '딸기', '사과', '오토바이', '자동차', '버스', '기차', '오토바이', '자동차'],
 ['과일', '과일', '과일', '과일', '과일', '탈것', '탈것', '탈것', '탈것', '탈것', '탈것'])

`(풀이2)` -- dct사용1

In [63]:
dct = {'딸기':'과일', '사과':'과일', '바나나':'과일', '오토바이':'탈것', '자동차':'탈것', '버스':'탈것', '기차':'탈것'}

In [70]:
lst2 = [dct[l] for l in lst]
lst2

['과일', '과일', '과일', '과일', '과일', '탈것', '탈것', '탈것', '탈것', '탈것', '탈것']

`(풀이3)` -- dct사용2

In [75]:
dct = {'탈것': ['오토바이', '자동차', '버스', '기차'], '과일':['딸기','사과','바나나']}
dct['과일']

['딸기', '사과', '바나나']

In [90]:
lst2 = [k for l in lst for k,v in dct.items() if l in v]

In [93]:
lst, lst2

(['딸기', '사과', '바나나', '딸기', '사과', '오토바이', '자동차', '버스', '기차', '오토바이', '자동차'],
 ['과일', '과일', '과일', '과일', '과일', '탈것', '탈것', '탈것', '탈것', '탈것', '탈것'])

`#`

## 3. 숙제

아래와 같은 리스트가 있다고 하자.

In [210]:
lst = list('abcd'*2+'bbb')
lst

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'b', 'b', 'b']

`(1)` 아래의 규칙에 의하여 lst의 각 원소의 값을 바꾸고 싶다고 하자. 이를 구현하는 코드를 작성하라.

|변환전|변환후|
|:-:|:-:|
|'a'|[1,0,0,0]|
|'b'|[0,1,0,0]|
|'c'|[0,0,1,0]|
|'d'|[0,0,0,1]|

`(2)` (1)을 역변환하라. 즉 아래의 리스트를

In [213]:
lst2= [
    [1, 0, 0, 0],
    [0, 1, 0, 0],
    [0, 0, 1, 0],
    [0, 0, 0, 1],
    [1, 0, 0, 0],
    [0, 1, 0, 0],
    [0, 0, 1, 0],
    [0, 0, 0, 1],
    [0, 1, 0, 0],
    [0, 1, 0, 0],
    [0, 1, 0, 0]
]

아래와 같이 바꾸라.

In [214]:
lst

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'b', 'b', 'b']