---
title: "12wk-1: [DataFrame] -- Pandas 행과 열의 선택 (2) // 숙제"
author: "최규빈"
date: "05/20/2025"
draft: false
---

{{<video https://youtu.be/playlist?list=PLQqh36zP38-y-Km1X4z1_ArZ4QrACEHFq&si=HjKg-rdkcJUVHjqt>}}

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Pandas 행과 열의 선택

### A. df 만들기

In [3]:
dct = {'date': ['12/30','12/31','01/01','01/02','01/03'], 'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}
df = pd.DataFrame(dct)
df

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

### B. 열의 선택

`-` 방법1 -- `df.`

In [86]:
# df.X1

`-` 방법2 -- `df[]`

In [87]:
# df['X1'] # str 
# df[['X1']] # [str]
# df[['X1','X3']] # [str,str]

`-` 방법3 -- `df.iloc`

In [88]:
# df.iloc[:,0] # int
# df.iloc[:,-2:] # int:int - 슬라이싱
# df.iloc[:,1::2] # int:int - 스트라이딩
# df.iloc[:,[0]] # [int]
# df.iloc[:,[0,1]] # [int,int]
# df.iloc[:,[True,True,False,False]] # bool의 list 
# df.iloc[:,range(2)] # range

`-` 방법4 -- `df.loc`

In [89]:
# df.loc[:,'X1'] # str
# df.loc[:,'X1':'X3'] # 'str':'str' -- 칼럼이름으로 슬라이싱 **
# df.loc[:,'X1'::2] # 'str':'str' -- 칼럼이름으로 스트라이딩 ** 
# df.loc[:,['X1']] # [str]
# df.loc[:,['X1','X4']] # [str,str]
# df.loc[:,[True,False,False,True,True]] # bool의 list

**수업때 헤맨 내용 재 설명**

자료형이 `pandas.core.series.Series` 인 경우와 `pandas.core.frame.DataFrame` 인 경우는 사용가능한 메소드가 다른 경우도 있으므로 조심해야함.

In [5]:
df = pd.read_csv("titanic.csv")[:5]
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

아래의 2개는 비슷해보이지만 약간 다를수 있음

`# 예시1` -- 비슷하게 동작하는 경우

In [23]:
df['Survived'].mean()

np.float64(0.6)

In [24]:
df[['Survived']].mean()

Survived    0.6
dtype: float64

`#`

`# 예시2` -- 비슷하게 동작하지 않는 경우

In [28]:
df[['Survived']].to_list()
#list(df[['Survived']])

<class 'AttributeError'>: 'DataFrame' object has no attribute 'to_list'

In [29]:
df['Survived'].to_list()
#list(df['Survived'])

[0, 1, 1, 1, 0]

`#`

### C. 행의 선택

In [33]:
dct = {'date': ['12/30','12/31','01/01','01/02','01/03'], 'X1': [65,95,65,55,80], 'X2': [55,100,90,80,30], 'X3': [50,50,60,75,30], 'X4': [40,80,30,80,100]}
df = pd.DataFrame(dct)
df

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

`-` 방법1: `df[]` + int:int, str:str, \[bool,bool\],
pd.Series(\[bool,bool\]) – $(\star\star\star\star\star)$

In [62]:
# df[:2] # int:int -- 슬라이싱 // df.iloc[:2,:], df.iloc[:2] 와 같음
# df[::2] # int:int -- 스트라이딩 
# df[['12' in date for date in df.date]] # [bool,bool]
# df[df.X1 < 70] # pd.Series([bool,bool])

`-` 방법2: `df.iloc[]`, `df.iloc[,:]` + int, int:int, \[int,int\],
\[bool,bool\], range

In [99]:
# df.iloc[0] # int 
# df.iloc[-2:] # int:int -- 슬라이싱
# df.iloc[1::2] # int:int -- 스트라이딩
# df.iloc[[0]] # [int]
# df.iloc[[0,1]] # [int,int]
# df.iloc[['12' in date for date in df.date]] # [bool,bool]
# df.iloc[range(2)] # range

In [100]:
# df.iloc[0,:] # int 
# df.iloc[-2:,:] # int:int -- 슬라이싱
# df.iloc[1::2,:] # int:int -- 스트라이딩
# df.iloc[[0],:] # [int]
# df.iloc[[0,1],:] # [int,int]
# df.iloc[['12' in date for date in df.date],:] # [bool,bool]
# df.iloc[range(2),:] # range

`-` 방법3: `df.loc[]`, `df.loc[,:]` + int, str, int:int, str:str,
\[int,int\], \[str,str\], \[bool,bool\], pd.Series(\[bool,bool\])

In [154]:
# df.loc[0] # int  
# df.loc[:2] # int:int 
# df.loc[[0,1]] # [int,int]
# df.loc[['12' in date for date in df.date]] # [bool,bool]
# df.loc[df.X1>70] # pd.Series([bool,bool])

### D. 제 스타일

`-` **가장 안전한 코드**

In [161]:
df.loc[:,:]

    date  X1   X2  X3   X4
0  12/30  65   55  50   40
1  12/31  95  100  50   80
2  01/01  65   90  60   30
3  01/02  55   80  75   80
4  01/03  80   30  30  100

`-` 상황1: 하나의 col을 뽑으려 할때 좋은 코드

In [103]:
# df.X1 # 최애 
# df['X1'] # 차애 
# df[['X1']] # 차애

`-` 상황2: row 슬라이싱을 할때 좋은 코드 $(\star\star\star)$

In [181]:
# df[:5] # 최애

`-` 상황3: 조건에 맞는 row를 뽑을때 좋은 코드

In [188]:
# df[df.X1<60] # 최애
# df.loc[['12' in date for date in df.date]] # 차애

`-` 상황4: 하나의 row를 뽑으려 할때 좋은 코드

In [195]:
# df.iloc[0] # 최애 
# df.loc[0] # 차애

`-` 상황5: (row,col)을 뽑으려 할때 좋은 코드

In [206]:
# 최애: pd.Series를 뽑고 -> 인덱스로접근
# df.X1[0]
# df['X1'][0]

# 차애: iloc, loc 으로 한번에 뽑기
# df.iloc[0,0]
# df.loc[0,'X1']

***위의 상황이외에는 `df.loc[:,:]`를 사용하는것이 유리하다***

`-` 상황6: column 슬라이싱을 할때

In [108]:
# df.loc[:,'X1':'X3'] # 끝점포함

`-` 상황7: row + column 슬라이싱을 하는 가장 좋은 코드

In [109]:
# df.loc[::2,'X1':'X2']

`-` 상황8: 조건에 맞는 col을 뽑기에 가장 좋은 코드

In [110]:
# df.loc[:,[len(colname)>2 for colname in df.columns]]

`-` 상황9: 조건에 맞는 row, col을 뽑기에 가장 좋은 코드

In [231]:
# df.loc[df.X1>70,[len(colname)>2 for colname in df.columns]]

### E. 제 스타일 X

`-` 제가 안쓰는 코드1

In [237]:
df[:1]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40

In [236]:
df[:1]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40

이러면 내 입장에서는 마치 아래가 동작할 것 같잖아..

In [248]:
df[0]

<class 'KeyError'>: 0

`-` 제가 안쓰는 코드2: bool의 list를 사용할때 iloc은 가급적 쓰지마세요

In [259]:
df.iloc[list(df.X1<80), :]

    date  X1  X2  X3  X4
0  12/30  65  55  50  40
2  01/01  65  90  60  30
3  01/02  55  80  75  80

이러면 마치 아래도 동작할 것 같잖아..

In [260]:
df.iloc[df['X1']<80,:]

<class 'NotImplementedError'>: iLocation based boolean indexing on an integer type is not available

### F. 필터링 -- numpy랑 비슷

In [265]:
df[df.X1 + df.X2 > 150]

    date  X1   X2  X3  X4
1  12/31  95  100  50  80
2  01/01  65   90  60  30

## 2. 숙제

In [2]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

3세미만의 승객들의 Age, Survived, Name 을 출력하라.

In [6]:
df[['Survived', 'Age', 'Name']][df.Age<3]

     Survived   Age                               Name
7           0  2.00     Palsson, Master. Gosta Leonard
16          0  2.00               Rice, Master. Eugene
78          1  0.83      Caldwell, Master. Alden Gates
119         0  2.00  Andersson, Miss. Ellis Anna Maria
164         0  1.00       Panula, Master. Eino Viljami
172         1  1.00       Johnson, Miss. Eleanor Ileen
183         1  1.00          Becker, Master. Richard F
205         0  2.00         Strom, Miss. Telma Matilda
297         0  2.00       Allison, Miss. Helen Loraine
305         1  0.92     Allison, Master. Hudson Trevor
340         1  2.00     Navratil, Master. Edmond Roger
381         1  1.00        Nakid, Miss. Maria ("Mary")
386         0  1.00    Goodwin, Master. Sidney Leonard
469         1  0.75      Baclini, Miss. Helene Barbara
479         1  2.00           Hirvonen, Miss. Hildur E
530         1  2.00           Quick, Miss. Phyllis May
642         0  2.00      Skoog, Miss. Margit Elizabeth
644         1  0.75             Baclini, Miss. Eugenie
755         1  0.67          Hamalainen, Master. Viljo
788         1  1.00         Dean, Master. Bertram Vere
803         1  0.42    Thomas, Master. Assad Alexander
824         0  2.00       Panula, Master. Urho Abraham
827         1  1.00              Mallet, Master. Andre
831         1  0.83    Richards, Master. George Sibley